.event-form-container {
  max-width: 800px; /* Adjust the max-width to fit the form */
  margin: auto;
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  background-color: lightgray;
}

.event-form-container h2 {
  margin-bottom: 20px;
}

.form-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; /* Ensure the columns wrap on smaller screens */
}

.form-column {
  flex: 0 0 48%; /* Each column takes up approximately half the width */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.input-group {
  margin-bottom: 15px;
  text-align: left;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
}

.input-group input,
.input-group textarea {
  width: 94%; /* Ensure the input fields take up the full width of their container */
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
}

.input-group textarea {
  resize: none; /* Disable resizing */
}

.btn {
  height: 40px;
  padding: 10px 20px; /* Add padding */
  border: 1px solid black;
  border-radius: 5px;
  color: black;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
  width: 45%;
  margin-left: 10px;
}

.create-event-btn {
  background-color: #007bff;
}

.create-event-btn:hover {
  background-color: #0056b3;
}

.logout-btn {
  background-color: red;
}

.logout-btn:hover {
  background-color: darkred;
}

/* Media Queries */
@media (max-width: 768px) {
  .form-row {
    flex-direction: column;
  }

  .form-column {
    flex: 0 0 100%;
  }
}