.event-form-container {
  max-width: 800px; /* Adjust the max-width to fit the form */
  margin: 20px auto;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.event-form-container h2 {
  margin-bottom: 20px;
}

.form-row {
  display: flex;
  justify-content: space-between;
}

.form-column {
  flex: 0 0 48%; /* Each column takes up approximately half the width */
}

.input-group {
  margin-bottom: 15px;
  text-align: left;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
}

.input-group input,
.input-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.input-group textarea {
  resize: none; /* Disable resizing */
}

.btn {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}

.btn:hover {
  background-color: #0056b3;
}

/* Media Queries */
@media (max-width: 768px) {
  .form-row {
    flex-direction: column;
  }

  .form-column {
    flex: 0 0 100%;
  }
}